nav .navbar{
    background-color: var(--secondary-color);
}

.nav{
    padding-block: 24px;
    transition: 0.6s padding-block;
}

nav .activeComponent{
    background-color : var(--main-color);
}

.paddingScrollNav{
    padding-block: 10px;
}