<section id="portfolio" class="py-5">
    <div class="header-portfolio">
        <h2 class="fs-1 fw-bolder text-uppercase mb-3 text-center">portfolio component</h2>
        <div class="d-flex justify-content-center">
            <app-dark-frame></app-dark-frame>
        </div>
    </div>
    <div class="prtfolio-content">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-6 col-lg-4" (click)="imageSrc($event)">
                    <div class="col-content position-relative ">
                        <img src="assets/images/poert1.png" alt="" class="w-100 rounded-3 ">
                        <div class="layer position-absolute rounded-3 d-flex justify-content-center align-items-center ">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="col-content position-relative ">
                        <img src="assets/images/port2.png" alt="" class="w-100 rounded-3 ">
                        <div class="layer position-absolute rounded-3 d-flex justify-content-center align-items-center ">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="col-content position-relative ">
                        <img src="assets/images/port3.png" alt="" class="w-100 rounded-3 ">
                        <div class="layer position-absolute rounded-3 d-flex justify-content-center align-items-center ">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="col-content position-relative ">
                        <img src="assets/images/poert1.png" alt="" class="w-100 rounded-3 ">
                        <div class="layer position-absolute rounded-3 d-flex justify-content-center align-items-center ">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="col-content position-relative ">
                        <img src="assets/images/port2.png" alt="" class="w-100 rounded-3 ">
                        <div class="layer position-absolute rounded-3 d-flex justify-content-center align-items-center ">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="col-content position-relative ">
                        <img src="assets/images/port3.png" alt="" class="w-100 rounded-3 ">
                        <div class="layer position-absolute rounded-3 d-flex justify-content-center align-items-center ">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- start light box -->

<div class="lightBox position-fixed bg-primary bg-opacity-25  d-none  justify-content-center align-items-center ">
    <img src="assets/images/port2.png">
</div>