<section id="home" class="d-flex justify-content-center align-items-center">
    <div class="home-content text-white text-center">
        <div class="home-img mb-3">
            <img src="assets/images/avataaars.svg" alt="avatar image">
        </div>
        <h2 class="text-uppercase fs-1 fw-bolder mb-3 pt-4 ">start framework</h2>
        <div class="d-flex justify-content-center ">
            <app-light-frame></app-light-frame>
        </div>
        <p class="mb-0 ">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</section>
